$main-black: #343843;
$main-grey: #7c838f;
$main-grey-light: #d0d4de;
$accent: #2fafff;
$accent-dark: #0759af;
$white: #fff;
$alert: #ef2424;
$warning: #ffb82e;
$success: #00bc5f;

$main-text: "Gilroy", sans-serif;
$add-text: "Arimo", sans-serif;
