@import '../../styles/mixins.scss';

.section {
  @include section();
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.title {
  margin: 0px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;

  @media screen and (max-width: 700px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.button {
  background: url(../../assets/pngwing.com.png) center no-repeat;
  background-size: 20px;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
  border-radius: 50%;

  &:hover {
    transform: rotate(-180deg);
  }

  &:focus {
    border: 1px solid black;
  }
}

.subtitle {
  margin: 20px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.select {
  color: blue;
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    font-weight: bold;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 60px;
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid rgb(224, 224, 224);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(126, 126, 255, 0.7);
  }
}

.heading {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  @media screen and (max-width: 700px) {
    font-size: 14px;
    line-height: 16px;
  }
}

.subheading {
  margin: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;

  @media screen and (max-width: 700px) {
    font-size: 12px;
    line-height: 16px;
  }
}
